body {
    width: 100%;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}

.invisible, .invisible2 {
    display: none;
}

.modalBox {
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #fff;
    margin: 20% auto; 
    padding: 20px;
    width: 80%; 
    text-align: center;
}

.modalBox h2 {
    font-size: 2rem;
    margin: 10px;
}

.modalBox p {
    font-size: 1rem;
    margin: 10px;
}

.modalBox button {
    width: 40%;
    border: none;
    border-radius: 20px;
    height: 30px;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
.modalBox button:hover {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s width;
}

#maze {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 90%;
    height: 300px;
    flex-wrap: wrap;
}

#person {
    margin: 5px;
    width: 65%;
    height: 65%;
    animation-duration: 500ms;
    z-index: 3;
    position: absolute;
}

@keyframes slideRight {
    from {
        margin-left: -0.5rem;
    }
    to {
        margin-left: 0;
    }
}

@keyframes slideLeft {
    from {
        margin-left: 0.5rem;
    }
    to {
        margin-left: 0px;
    }
}

@keyframes slideUp {
    from {
        margin-top: 0.5rem;
    }
    to {
        margin-top: 0;
    }
}

@keyframes slideDown {
    from {
        margin-top: -0.5rem;
    }
    to {
        margin-top: 0px;
    }
}

.slideRight {
    transform: scaleX(1);
    animation-name: slideRight;
}

.slideLeft {
    transform: scaleX(-1);
    animation-name: slideLeft;
}

.slideUp {
    transform: rotate(-90deg);
    animation-name: slideUp;
}

.slideDown {
    transform: rotate(90deg);
    animation-name: slideDown;
}

.box {
    position: relative;
}

.way {
    display: inline-block;
    background: gray;
    width: 4.76%;
    height: 6.67%;
    background-color: #000000;
}

.start {
    display: inline-block;
    background: green;
    width: 4.76%;
    height: 6.67%;

    background-image: url('go.png');
    background-size: contain;

}

.finish {
    display: inline-block;
    width: 4.76%;
    height: 6.67%;

    background-image: url('finish.png');
    background-size: cover;
}

.wall {
    box-sizing: border-box;
    display: inline-block;
    width: 4.76%;
    height: 6.67%;

    background-color: #2e3fdf;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #4c58f5, 0 0 3px #4c58f5, 0 0 4px #4c58f5, 0 0 4px #4c58f5, 0 0 5px #4c58f5;
}


/*  Fantasma */
#ghost5, #ghost1 {
    width: 100%;
    animation-duration: 500ms;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Fruits */
#cherry3, #cherry10, #cherry7  {
    width: 90%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contCherry {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#contCherry img{
    width: 3rem;
}
#contCherry span{
    color: white;
}

@media only screen and (min-width: 500px){
    body {
        font-size: 22px;
    }
    #maze {
        width: 80%;
        height: 340px;
    }
    @keyframes slideRight {
        from {
            margin-left: -1rem;
        }
        to {
            margin-left: 0;
        }
    }
    
    @keyframes slideLeft {
        from {
            margin-left: 1rem;
        }
        to {
            margin-left: 0px;
        }
    }
    
    @keyframes slideUp {
        from {
            margin-top: 1rem;
        }
        to {
            margin-top: 0;
        }
    }
    
    @keyframes slideDown {
        from {
            margin-top: -1rem;
        }
        to {
            margin-top: 0px;
        }
    }
    #contCherry {
        margin-top: 20px;
    }
    #cherry3, #cherry10, #cherry7  {
        width: 70%;
    }
}

@media only screen and (min-width: 1000px){
    body {
        font-size: 22px;
    }
    #maze {
        width: 65%;
        height: 500px;
    }
    @keyframes slideRight {
        from {
            margin-left: -1.5rem;
        }
        to {
            margin-left: 0;
        }
    }
    
    @keyframes slideLeft {
        from {
            margin-left: 1.5rem;
        }
        to {
            margin-left: 0px;
        }
    }
    
    @keyframes slideUp {
        from {
            margin-top: 1.5rem;
        }
        to {
            margin-top: 0;
        }
    }
    
    @keyframes slideDown {
        from {
            margin-top: -1.5rem;
        }
        to {
            margin-top: 0px;
        }
    }
    #contCherry {
        margin-top: 40px;
        font-size: 2.5rem;
    }

    #cherry3, #cherry10, #cherry7  {
        width: 60%;
    }
}